
@{
    ViewData["Title"] = "Home Page";
    Unitech.Infra.OngRepository ongPartial = new Unitech.Infra.OngRepository();
    //Unitech.Infra.PessoaRepository pessoaPartial = new Unitech.Infra.PessoaRepository();

}

<div style="margin: 5px; align-items: center"><p>@Html.Partial("ongPartial.cshtml", ongPartial.ListarOng())</p></div>
<!-- <div float: left; width: 50%;><p>Html.Partial("pessoaPartial.cshtml", pessoaPartial.ListarPessoa())</p></divfloat:> -->
