@model IEnumerable<Unitech.Models.Pessoa>

@{
    ViewData["Title"] = "Pessoas";
}
<head>
    <script>
        $.ajax(){
            type: "GET",
            URL: @Url.Action("Index", "pessoa"),
            typedata: "json",
            data: $(form).serialize,
            sucess: function(response){
                $("#content").html(response);
            };
        }
    </script>
</head>

<form asp-controller="Pessoa" asp-action="Pesquisa" method="get">
    <p>
        <input type="text" name="pesquisa">
        <input type="submit" value="Filtrar" />
    </p>
</form>
<h1>Pessoas Cadastradas</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <div id="content">

        </div>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Apagar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
