@model IEnumerable<Unitech.Models.Pessoa>

<p>
    <a asp-action="Create">Cadastrar nova ONG</a>
</p>

<head>
    <script>
        $.ajax(){
            type: "GET",
            datatype: "json",
            url: @Url.Action("pesquisa", "Ong"),
            data: $(form).serialize(),
            sucess: function(response){
                $("#content").html(response);
                };
            error: function(response){
                $("#content").html(response);
            };
        };
    </script>
</head>
<table class="table">
    <thead>
        <tr>
<div id="#content">

</div>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
