@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar ONG</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="envio"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <script>
        $("#envio").click(function(form){
            $.ajax({
                url: @Url.Action("Create", "Ong"),
                type: "POST",
                data: $(form).serialize(),
                datatype: "json",
            });
          });
    </script>
}
