@model Unitech.Models.Ong

@{
    ViewData["Title"] = "Details";
}
<head>

</head>
<h1>Detalhes</h1>

<div>
    <h4>Ong</h4>
    <dl class="row" id="details">
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Voltar</a>
</div>
@section Scripts { 
    <script>
        $.get(@Url.Action("Details", "Ong");
    </script>
}