@{
    ViewData["Title"] = "Index";
}
<head>

</head>
<form asp-controller="Ong" asp-action="Pesquisa" method="get">
    <p>
        <input type="text" name="pesquisa">
        <input type="submit" value="Filtrar" id="#conteudo" />
    </p>
</form>

<h4>ONG'S Cadastradas</h4>
<p>
    <a asp-action="Create"> Criar ONG</a>
</p>
<table id="result">

</table>

@section Scripts {
    <script>
        elmir();
        var dados = {
            var nome = $("#Nome").val();
            var endereco = $("#Endereco").val();
        }
        
        function elmir() {
            $.ajax({
                url: "@Url.Action("Listar","Ong")",
                type: "get",
                data: dados,
                dataType: "json",
                success: function (data) {
                    console.log(data.data)
                }
            });
            @*$.get("@Url.Action("Listar", "Ong")", null ,function (data) {
                $("#result").append("<p>" + data.data + "</p>");
            });*@
        };
    
    </script>
}