@{
    ViewData["Title"] = "Index";
}
<head>
    <script>
        $.ajax({
            type: "GET",
            url: @Url.action("Index","Ong"),
            data: {},
            contentType: "application/json",
            datatype: "json",
            sucess: function(response){
                 $("#result").html(response);
                /*$(response.d).each(function(collection)){
                    var htmlText = this.ID +" "+ this.Descricao;
                    $('#result').html(htmlText" <br/>");
                }*/
            };
            error: function(response){
                $("#result").html(response);
            };
        });
    </script>
</head>
<form asp-controller="Ong" asp-action="Pesquisa" method="get">
    <p>
        <input type="text" name="pesquisa">
        <input type="submit" value="Filtrar" id="#conteudo"/>
    </p>
</form>

<h4>ONG'S Cadastradas</h4>

<p>
    <a asp-action="Create"> Criar ONG</a>
</p>
<table class="table">
    <div id="result">
     </div>
</table>
