@{
    ViewData["Title"] = "Index";
}
<head>

</head>
<form asp-controller="Ong" asp-action="Pesquisa" method="get">
    <p>
        <input type="text" name="pesquisa">
        <input type="submit" value="Filtrar" id="#conteudo" />
    </p>
</form>

<h4>ONG'S Cadastradas</h4>

<p>
    <a asp-action="Create"> Criar ONG</a>
</p>
<table class="table">
    <div id="result">
    </div>
</table>

@section Scripts { 
<script>
        $.ajax({
            type: "GET",
            url: @Url.Action("Index","Ong"),
            datatype: "json",
            sucess: function (response) {
                (response.d).each(function ()){
                    var htmlText = this.ID + " " + this.Descricao;
                    $('#result').html(htmlText" <br/>"),
                }
            },
            error: function(response){
                $("#result").html(response);
            },
        });
</script>
}