<head>

</head>
<p>
    <a asp-action="Create">Cadastrar Nova ONG</a>
</p>
<table class="table">
    <thead>
        <div id="content">


        </div>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
     </thead>
</table>
@section Script{
    <script>
        $.ajax(){
            type: "GET",
            datatype: "json",
            url: @Url.Action("pesquisa", "Ong"),
            data: $(form).serialize(),
            sucess: function(response){
                $("#content").html(response);
                };
            error: function(response){
                $("#content").html(response);
            };
        };
    </script>
}